@using MyCollections
@using MyCollections.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyCollections</title>

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="docs/vendor/bootstrap/css/bootstrap.min.css" />
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">MyCollections</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Games" asp-action="Index">Games</a></li>
                    <li><a asp-controller="Config" asp-action="Edit">Configurações</a></li>
                    <li><a href="../docs/index.html" target="_blank">PWA</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <footer class="navbar-fixed-bottom rodape">
            <p>Desenvolvido por <a href="http://paulorobertoelias.com">Paulo Roberto Elias</a></p>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="docs/vendor/jquery.lazy-master/jquery.lazy.min.js"></script>
    <script src="docs/vendor/bootstrap/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-html5-1.6.1/r-2.2.3/sp-1.0.1/datatables.min.css"
        crossorigin='anonymous' />
    <script
        src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-html5-1.6.1/r-2.2.3/sp-1.0.1/datatables.min.js"
        crossorigin='anonymous'></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js" crossorigin='anonymous'></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.20/dataRender/ellipsis.js" crossorigin='anonymous'></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.20/dataRender/intl.js" crossorigin='anonymous'></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>