@model MyCollections.Models.Config


@using (Html.BeginForm("Upsert", "Config", FormMethod.Post))
{
@Html.AntiForgeryToken()
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @Html.Hidden("Id", 1)
<div class="form-group">
    <div class="row">
        <div class="col-md-4">
            <label asp-for="key" class="control-label">Steam key</label>
        </div>
        <div class="col-md-4">
            <input type="text" name="steamKey" class="form-control" value="@Model.steamKey" />
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-md-4">
            <label asp-for="value" class="control-label">Steam Id</label>
        </div>
        <div class="col-md-4">
            <input type="text" name="steamId" class="form-control" value="@Model.steamId" />
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <button type="submit" value="Save" class="btn btn-primary">Salvar</button>
        <button type="button" class="btn btn-primary"><a asp-action="Index">Cancelar</a></button>
    </div>
</div>
}