@model MyCollections.Models.Game

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FriendlyName" class="control-label"></label>
                <input asp-for="FriendlyName" class="form-control" />
                <span asp-validation-for="FriendlyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cover" class="control-label"></label>
                <input asp-for="Cover" class="form-control" />
                <span asp-validation-for="Cover" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Logo" class="control-label"></label>
                <input asp-for="Logo" class="form-control" />
                <span asp-validation-for="Logo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SystemID" class="control-label"></label>
                <select asp-for="SystemID" class ="form-control" asp-items="ViewBag.SystemID"></select>
            </div>
            <div class="form-group">
                <label asp-for="StoreID" class="control-label"></label>
                <select asp-for="StoreID" class ="form-control" asp-items="ViewBag.StoreID"></select>
            </div>
            <div class="form-group">
                <label asp-for="BuyDate" class="control-label"></label>
                <input asp-for="BuyDate" class="form-control" />
                <span asp-validation-for="BuyDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlayedTime" class="control-label"></label>
                <input asp-for="PlayedTime" class="form-control" />
                <span asp-validation-for="PlayedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Purchased" /> @Html.DisplayNameFor(model => model.Purchased)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="SteamApID" class="control-label"></label>
                <input asp-for="SteamApID" class="form-control" />
                <span asp-validation-for="SteamApID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Cancelar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
