﻿@model MyCollections.Models.Game

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FriendlyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FriendlyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cover)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cover)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Logo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Logo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.System)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.System.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Store)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Store.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BuyDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BuyDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlayedTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlayedTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Purchased)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Purchased)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SteamApID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SteamApID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="GameID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
