﻿@model MyCollections.Models.Game

<div class="margin_top">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FriendlyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FriendlyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cover)
        </dt>
        <dd>
            <image src="@Html.DisplayFor(model => model.Cover)" style="width: 90px; height: 45px"></image>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Logo)
        </dt>
        <dd>
            <image src="@Html.DisplayFor(model => model.Logo)" style="width: 90px; height: 45px"></image>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.System)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.System.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Store)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Store.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BuyDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BuyDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlayedTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlayedTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Purchased)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Purchased)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SteamApID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SteamApID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GameID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
