﻿@model IEnumerable<MyCollections.Models.Game>

<div id="mButtons" class="margins">
    <a asp-action="Create" class="btn btn-primary">Novo Jogo</a>
    <button class="btn btn-primary" id="btn_GetFromSteam" style="width: 250px">Atualizar informações do Steam</button>
</div>

<input type="hidden" id="hiddenUserId" data-value="@ViewBag.userId" />


<table class="table" id="tabela" data-page-length='100'>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.FriendlyName)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Cover)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Logo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.System)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.BuyDate)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.Price)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.PlayedTime)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.Purchased)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.SteamApID)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.FriendlyName)
            </td>*@
            <td>
                <image src="@Html.DisplayFor(modelItem => item.Cover)" style="width: 90px; height: 45px"></image>
            </td>
            <td>
                <image src="@Html.DisplayFor(modelItem => item.Logo)" style="width: 50px; height: 45px"></image>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.System.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Store.Name)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.BuyDate)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.PlayedTime)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.Purchased)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.SteamApID)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GameID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GameID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GameID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
