 @{
       Layout = "_LayoutViews";
 }

     <div>
         <form class="form-control" method="get" id="form">
             Usuário
             <input type="text" id="id" />
             <button type="submit" id="button">Enviar</button>
        </form>
     </div>

 <script>
     var button = document.getElementById("button");
     var form = document.getElementById("form");
     button.onclick = function () {
         form.setAttribute('action', '/Games/ViewGames/' + document.getElementById("id").value);
     };
 </script>