@model IEnumerable<MyCollections.Models.GameApiDTO>

@{
    Layout = "_LayoutViews";
}

<input type="hidden" id="hiddenUserEmail" data-value="@ViewBag.userEmail" /> 

    <div id="main_div" class="row">
        @foreach (var item in Model)
        {
            <span id='@item.Name' class='game col-lg-2 col-sm-12 col-md-12 col-xs-12'>
                <img class='cover' src='@item.Cover' alt='logo' data-game='@item.Name' data-toggle='modal' data-target='#myModal' />
            </span>
        }
    </div>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog mymodal">
            <div class="modal-content mymodal-content">
                <div class="modal-header">
                    <h6 class="modal-title"></h6>
                </div>
                <div id="myModalBody" class="modal-body"></div>
            </div>
        </div>
    </div>
