@model MyCollections.Models.Game


<form method="POST" method="post" enctype="multipart/form-data" action="Upsert">
    <div class="form-group">
        <div class="row">
            <div class="col-md-4">
                <label class="form-label">Nome</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" id="Name" name="Name" />
            </div>
        </div>
    </div>
    <div class="form-group" id="divNewImage">
        <div class="row">
            <div class="col-md-4">
                <label class="form-label">Imagem</label>
            </div>
            <div class="col-md-4">
                <input type="file" name="LogoURL" id="LogoURL" class="form-control" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-4">
                <label class="form-label">Sistema</label>
            </div>
            <div class="col-md-4">
                <select id="System" name="System" class="form-control">
                    <option value="">Selecione...</option>
                    <option value="Android">Android</option>
                    <option value="PC">PC</option>
                    <option value="XBOX360">Xbox 360</option>
                    <option value="XBOXOne">Xbox One</option>
                    <option value="PS3">PS3</option>
                    <option value="PS4">PS4</option>
                    <option value="Wii">Wii</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
    </div>
</form>