@model MyCollections.Models.Game

<div class="form-group">
    <div class="row">
        <div class="col-md-4">
            <label class="form-label">Nome</label>
            <input type="text" id="Name" name="Name" value="@Model.Name"/>
        </div>
    </div>
</div>