@model IEnumerable<MyCollections.Models.Game>

<div id="mButtons" class="margins">
    <a asp-action="Create" class="btn btn-primary">Novo Jogo</a>
    <button class="btn btn-primary" id="btn_GetFromSteam" style="width: 250px">Atualizar informações do Steam</button>
</div>